<footer class="footer">
  <div class="foot-top">
    <div class="container">
      <div class="product-features">
        <ul>
          <li class="useric">Products rated by you, the real “expert”</li>
          <li class="trophyic">Best product based on thousands of reviews</li>
          <li class="dollaric">Daily updated prices for the best deal</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="foot-bot">
    <div class="container">
      <div class="foot-links">
        <div class="row">
          <div class="col-3">
            <h3>Top wasmachines</h3>
            <ul>
              <li><a rotuerLink="#">Example link 1</a></li>
              <li><a rotuerLink="#">Example link 1</a></li>
              <li><a rotuerLink="#">Example link 1</a></li>
              <li><a rotuerLink="#">Example link 1</a></li>
              <li><a rotuerLink="#">Example link 1</a></li>
              <li><a rotuerLink="#">Example link 1</a></li>
            </ul>
          </div>
          <div class="col-3">
              <h3>Wasmachine tips</h3>
              <ul>
                <li><a rotuerLink="#">Example link 1</a></li>
                <li><a rotuerLink="#">Example link 1</a></li>
                <li><a rotuerLink="#">Example link 1</a></li>
                <li><a rotuerLink="#">Example link 1</a></li>
                <li><a rotuerLink="#">Example link 1</a></li>
                <li><a rotuerLink="#">Example link 1</a></li>
              </ul>
            </div>
            <div class="col-3">
                <h3>Wasmachines</h3>
                <ul>
                  <li><a rotuerLink="#">Example link 1</a></li>
                  <li><a rotuerLink="#">Example link 1</a></li>
                  <li><a rotuerLink="#">Example link 1</a></li>
                  <li><a rotuerLink="#">Example link 1</a></li>
                  <li><a rotuerLink="#">Example link 1</a></li>
                  <li><a rotuerLink="#">Example link 1</a></li>
                </ul>
              </div>
              <div class="col-3">
                <h3>Company info</h3>
                <p>Here you can find some random text about the
                    company providing the information displayed on 
                    this page with some pretty social logos’s .</p>
                    <ul class="social-foot">
                      <li><a routerLink="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a routerLink="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a routerLink="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
              </div>
        </div>          
      </div>
      <div class="footlogo">
        <a routerLink="\home">
          <img src="assets/images/logo.png" alt=""> 
        </a>
        <p>Products rated by you, the real “expert” </p>
      </div>
      <ul class="privacysec">
        <li><a rotuerLink="#">Algemene voorwaarden</a></li>
        <li><a rotuerLink="#">privacy</a></li>
        <li><a rotuerLink="#">cookies</a></li>
      </ul>
    </div>
  </div>
</footer>